<!--create partial(html) for how comments will appear-->
<div>
    {{#each this}}
    {{log this}}
    <section class="box has-background-black-ter has-text-white">
        <span style="float: right;">
            > {{user.username}} on {{format_date createdAt}}
        </span>
        <span style="word-wrap: break-word; text-align: justify;">{{comment_text}}</span>
    </section>
    {{/each}}
</div>