<button class="js-modal-trigger" data-target="modal-js-example">
    Open JS example modal
</button>

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
        </header>
        <section class="modal-card-body ">
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success">Ok</button>
        </footer>
    </div>
</div>