<!--create html for how the profile/dashboard will appear (it should include all of the users posts, a new post creator)-->
<div class="has-background-grey-darker">
    <div class="section has-text-white">
        <form class="new-post-form section has-background-grey" style="min-width: 100%;">
            <h2 class="box title has-text-white has-background-grey-darker">Create New Post</h2>
            <br>
            <label for="post-title" >Title</label>
            <input type="text" id="post-title" name="post-title" class="input" style="width: 100%" />
            <!--- added workout type --->
            <br>

            <label for="workout-type">Select a Workout Type:</label>
            <select id="workout-type" name="workout-type" class="dropdown input">
                <option value="mobility-flexibility">Mobility/Flexibility</option>
                <option value="endurance">Endurance</option>
                <option value="balance-training">Balance Training</option>
                <option value="strength-building">Strength Building</option>
                <option value="aerobic">Aerobic</option>
            </select>

            <br>
            <label for="post-url">Link</label>
            <input id="post-url" name="post-url" class="input" style="width: 100%" />
            <br>

            <label for="post-content">Your Post Content</label>
            <textarea id="post-content" class="textarea" placeholder="Your Post Content" rows="10"></textarea>
            <br>

            <button type="button" id="submitPost" class="button is-white is-small is-rounded is-outlined">
                <strong>Publish</strong>
            </button>

        </form>
    </div>
    <div class="section has-background-grey-darker">
        <div class="section has-background-grey-darker has-text-white">
            {{#if posts.length}}
            <h2 class="title has-text-white ">Your Posts</h2>
            <ul>
                {{#each posts as |post|}}
                <li>
                    {{> post-info post}}
                    <a href="/dashboard/edit/{{post.id}}" class="edit-link has-text-white">Edit post</a>
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    </div>
    <script src="/javascript/add-post.js"></script>
</div>