<!--create html for how the profile/dashboard will appear (it should include all of the users posts, a new post creator)-->
<div class="has-background-grey">
    <div class="section has-text-white">
        <form class="new-post-form section has-background-black" style="min-width: 100%;">
            <h2 class="title has-text-white">Create New Post</h2>
            <br>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" class="input" style="width: 100%" />
            <!--- added workout type --->
            <br>

            <label for="workout-type">Select a Workout Type:</label>
            <select id="workout-type" name="workout-type" class="dropdown input">
                <option value="Mobility/Flexibility">Mobility/Flexibility</option>
                <option value="Balance Training">Balance Training</option>
                <option value="Strength Building">Strength Building</option>
                <option value="Endurance">Endurance</option>
                <option value="Aerobic">Aerobic</option>
            </select>

            <br>
            <label for="post-url">Link</label>
            <input id="post-url" name="post-url" class="input" style="width: 100%" />
            <br>

            <label for="post-content">Your Post Content</label>
            <textarea id="post-content" class="textarea" placeholder="Your Post Content" rows="10"></textarea>
            <br>

            <button type="button" id="submitPost" class="button is-small has-background-info">
                <strong>Publish</strong>
            </button>

        </form>
    </div>
    {{#if posts.length}}
    <div class="section has-background-black">
        <div class="section has-background-grey has-text-white">
            <h2 class="title has-text-white ">Your Posts</h2>
            <ul>
                {{#each posts as |post|}}
                <li>
                    {{> post-info post}}
                    <a href="/dashboard/edit/{{post.id}}" class="edit-link has-text-white">Edit post</a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{/if}}
    <script src="/javascript/add-post.js"></script>
</div>