<!--create html to show how a single post will appear when clicked on, should include the post, comments and text area to add a new comment-->
<div class="has-background-grey box">
    {{> post-info post}}
</div>

{{>comments post.comments}}

{{#if loggedIn}}
<form class="column is-full has-background-grey" style="padding: auto margin: auto">
    <div>
        <textarea name="comment-body" class="textarea"></textarea>
    </div>
    <div>
        <button type="button" id="btnComment" class="button is-small has-background-info">
            <strong>Add Comment</strong>
        </button>
        <!--button type=" button" class="upvote-btn button is-small is-rounded is-outlined has-background-warning">
            <strong>upvote</strong>
        </button>
        <button type="button" class='downvote-btn button is-small is-rounded is-outlined has-background-danger'>
            <strong>downvote</strong>
            </button-->
    </div>
</form>
<script src="/javascript/comments.js" class="section"></script>
{{/if}}